body{
    display: grid;
    grid-template-areas:
        "aside header"
        "aside   main"
        ;
    grid-template-columns: auto 1fr;
}

main{
    margin-bottom: 100px;
}

.cabecalho{
    grid-area: header;
}

header{
    display: flex;
    gap: 0.5em;
}

.menu-lateral {
    grid-area: aside;
}

.principal{
    grid-area: main;
}

.secao {
    display: grid;
    align-items: center;
}
/* Cartôes */
.secao-horizontal {
    grid-template-rows: 120px auto  ;
}

.secao-horizontal .cartao{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0.5rem;
}

.secao-horizontal .cartao__titulo{
    align-self: end;
}



.secao {
    display: grid;
    align-items: center;
}

.secao-horizontal .cartao__imagem{
    grid-area: 1 / 1 / 4 / 2;
}

.secao-horizontal .cartao__botao {
    grid-column: 3/4;
    grid-row: 1/4;
}
/* Seção vertical */

.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao__cartoes{
    display: grid;

    row-gap: 1rem;
    --gap-coluna: 1.25rem;
    column-gap: var(--gap-coluna);
    --gap-proporcional: var(--gap-coluna) * (var(--quantidade-maxima-da-coluna) - 1) / var(--quantidade-maxima-da-coluna);

    /*LARGURA MINIMA DA COLUNA*/
    --largura-minima-da-coluna: 100%/2 - var(--gap-proporcional) ;
    
    /*LARGURA MAXIMA DA COLUNA*/
    --max-largura-maxima-da-coluna: 100%/var(--quantidade-maxima-da-coluna);
    --largura-maxima-da-coluna: max(var(--min-largura-maxima-da-coluna), var(--max-largura-maxima-da-coluna) - var(--gap-proporcional));

    --minimo: min(var(--largura-minima-da-coluna), var(--largura-maxima-da-coluna));

    grid-template-columns: repeat(auto-fit, minmax(var(--minimo), 1fr));
}

.secao-horizontal .secao__cartoes {
    --quantidade-maxima-da-coluna: 3;
    --min-largura-maxima-da-coluna: 348px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(348px, 100%/3)), 1fr)); */
}

.secao-vertical .secao__cartoes{
    grid-column: 1/3;
    --quantidade-maxima-da-coluna: 6;
    --min-largura-maxima-da-coluna: 165px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(165px, 100%/6)), 1fr)); */
}

.secao-vertical .cartao{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Menu Lateral */

.menu-lateral {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr; 
    row-gap: 2rem;
}

.menu-lateral__logo {
    justify-self: center;
}

/* Nav Bar*/

.navbar__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

